@{
    ViewData["Title"] = "About Me";
}
<div id="abouthead">
    <h3 id="head3">About</h3>
</div>
<br>
<div>
    <blockquote>
        <h2 class="text-dark ">"Mission-focused full stack developer with a passion for UI accesability, collaboration, and continual learning."</h2>
    </blockquote>
    <br>
    <p>Hello my name is Oz Romero and coding has been one of my greatest passions since I understood what a loop function was. I started coding during my Bachelors program at Occidental College where I was introduced to Matlab to track data collected in a neuron detection experiment with a professor and since that moment I knew coding had a special place in my heart. After returning to Chicago in 2019, I began to look for ways to submerge myself into the coding culture and gain the invaluable information I sought after, which was learning to develop an app idea from scratch. </p>
    <br>
    <p>
        This is when I discovered the Coding Dojo Chicago 3 month Bootcamp and with the covid pandemic going on I figured what better way to spend my days inside. Although the three months were intense, I came out knowing more than I thought possible. Being able to develop an app from scratch in not one but three full stacks gave me the confidence to progress in my developer journey which has so many bright possibilities ahead. Now after completing the course I am confident with my skills and am ready to develop them further through solo projects and ideally working for a company that can guide my developer career.  
    </p>
    <p>Current Focus: React | C# | Python</p>
    <h3>Previous Work</h3>
        <p>Before making the transition into the tech industry, I have been fortunate enough to have gained knowledge in sales, marketing, branding, and the restaurant industry. While in college I worked in sales at Nordstrom and consistently was a top performer in my department. Not only did I improve my sales skills, I also learned the value of customer relations, time management, and communication skills. While working at Nordstrom I briefly joined a talent agency (HRI Talent) and did a few commercials that enlightened me on the power of social media.  
            
        </p>
        <br>
        <p>
            While with HRI I was also working with a startup that focused on Social Media Consulting, which I turned out to have quite an eye for. With a few training courses from the CEO I was able to acquire my own clients and help them reach a wider social media audience through algorithms based on Honeypot accounts, image enhancements, and overall more content.(Feel free to <a href="/contact">contact me</a> if you would like to arrange a consultation.) With proper marketing techniques I was able to acquire over 20,000 followers on <a href="https://www.instagram.com/iamozromero/">Instagram</a> and do my own brand deals with Instagram accounts. 
        </p>
</div>
