@{
    ViewData["Title"] = "Home Page";
}
<div class="littop">
    <h1>Full Stack Web Developer</h1>
</div>
<div>
    <div class="mepicbox" >
        <img src="img/soft/download.png" alt="me">
    </div>
    <div >
        <p class="q-box1 text-white">"Sometimes the ideas that seem the most simple are the most challenging."   </p>
    </div>
    <div >
        <p class="q-box2 text-white"> "If you are too comfortable, you are doing something wrong."</p>
    </div>
</div>
<div class="site">
    <div class="mybelts">
        <h3>Skills</h3>
        <p class="skillwords">
            My skill set is a range from front-end, back-end, video/ photo editing, etc... 
            <br>
            <br>
            <div class="skillbtn">
                <button class="btn btn-dark"><a href="/skills">Skills</a></button>
            </div>
        </p>
    </div>
    <div class="mybelts2">
        <h3>Coding Dojo Belts</h3>
        <img class="belts" src="img/soft/belt.png" alt="me">
    </div>
    <div class="mybelts3">
        <h3>Contact Me</h3>
        <p class="skillwords">
            Contact me to collaborate on work, request access to code, or anything relating to Social Media Consulting.
            <br>
            <div class="skillbtn">
                <button class="btn btn-dark"><a href="/contact">Connect</a></button>
            </div>
        </p>
        
    </div>
</div>







