@{
    ViewData["Title"] = "Projects";
}
<div id="abouthead">
    <h2 id="head3">Projects</h2>
</div>
<br>
<div class="card">
    <div class="card-header bg-secondary text-white"><h3>Workout App</h3></div>
        <div class="card-body">
            <div id="projpan">
                <div id="leftpan">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>
                        </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="/img/pythonproj/regpic.png" alt="proj1" width="1000" height="600">
                                </div>

                                <div class="item">
                                    <img src="/img/pythonproj/lo.png" alt="Chicago" width="1000" height="600">
                                </div>

                                <div class="item">
                                    <img src="/img/pythonproj/pretestpic.png" alt="New York" width="1000" height="600">
                                </div>
                                <div class="item">
                                    <img src="/img/pythonproj/endtest.png" alt="New York" width="1000" height="600">
                                </div>
                                <div class="item">
                                    <img src="/img/pythonproj/history.png" alt="New York" width="1000" height="600">
                                </div>
                                <div class="item">
                                    <img src="/img/pythonproj/selectworkout.png" alt="New York" width="1000" height="600">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                    </div>
                </div>
            </div>
        <div id="rightpan">
            <div class="a text-white">The program would allow a user to register and then have the user take a fitness exam. As the user used the program, the sessions would be tracked in the History section and the "Best Scores" would aslo be recorded and presented at the start of a workout.The workouts are automated based on the equipmant that is available to the user and targeted muscle groups. New workouts can also be added.  
                <br>
                <br>
                <div>
                        <button class="btn btn-dark"><a href="">Video Demo</a> <br> Coming soon</button>
                        <button class="btn btn-dark"><a href="">Github Code</a></button>
                    </div>
            </div>
        </div>
    </div>
</div>
    <br>
    @* This is where the next project begins ! *@
    <br>

    <div class="card">
    <div class="card-header bg-secondary text-white"><h3>This Portfolio</h3></div>
        <div class="card-body">
            <div id="projpan">
                <div id="leftpan">
                    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel2" data-slide-to="1"></li>
                            <li data-target="#myCarousel2" data-slide-to="2"></li>
                            <li data-target="#myCarousel2" data-slide-to="3"></li>
                            <li data-target="#myCarousel2" data-slide-to="4"></li>
                            <li data-target="#myCarousel2" data-slide-to="5"></li>
                        </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="/img/projects/pro1.png" alt="proj1" width="1000" height="600">
                                </div>

                                <div class="item">
                                    <img src="/img/projects/pro2.png" alt="Chicago" width="1000" height="600">
                                </div>

                                <div class="item">
                                    <img src="/img/projects/pro3.png" alt="Chicago" width="1000" height="600">
                                </div>
                                <div class="item">
                                    <img src="/img/projects/pro1.png" alt="proj1" width="1000" height="600">
                                </div>
                                <div class="item">
                                    <img src="/img/projects/pro2.png" alt="Chicago" width="1000" height="600">
                                </div>
                                <div class="item">
                                    <img src="/img/projects/pro3.png" alt="Chicago" width="1000" height="600">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                    </div>
                </div>
            </div>
        <div id="rightpan">
            <div class="a text-white">This portfolio is one of my closing projects for The Coding Dojo Bootcamp. With the built in bootstrap in the C# framework I was able to use very little CSS by doing some inline styling. Each section has a different format but still follow the common theme. The contact tab is linked to a working database using SQL on the back-end.
                <br>
                <br>
                <div>
                        <button class="btn btn-dark"><a href="">Video Demo</a> <br> Coming soon</button>
                        <button class="btn btn-dark"><a href="">Github Code</a></button>
                    </div>
            </div>
        </div>
    </div>
</div>





