@{
    ViewData["Title"] = "Projects";
}
<div id="abouthead">
    <h3 id="head3">Skills</h3>
</div>
<div class="card">
    <div class="card-header bg-light "><h3>Programming Languages </h3></div>
    <div class="card-body">
        <div class="con">
            <img src="img/skills/Java/js.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">Javascript ES5 &ES6</div>
                </div>
        </div>
        <div class="con">
            <img src="img/skills/Java/t.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">Typescript</div>
                </div>
        </div>
        <div class="con">
            <img src="img/skills/Java/c.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">C#</div>
                </div>
        </div>
        <div class="con">
            <img src="img/skills/HTML/html5.png" alt="" width="50px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">HTML5</div>
                </div>
        </div>
        <div class="con">
            <img src="img/skills/CSS/css3.png" alt="" width="100px" height="auto" class="image">
                <div class="overlay">
                    <div class="text">CSS3</div>
                </div>
        </div>
        <div class="con">
            <img src="img/skills/Java/p.png" alt="" width="100px" height="auto" class="image">
                <div class="overlay">
                    <div class="text">Python 3</div>
                </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header bg-light "><h3>Frameworks</h3></div>
    <div class="card-body">
        <div class="con">
            <img src="img/core/mong.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">MongoDB</div>
                </div>
        </div>
        
        <div class="con">
            <img src="img/skills/CSS/bootstrap.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">Bootstrap</div>
                </div>
        </div>
        <div class="con">
            <img src="img/skills/CSS/sass.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">Sass</div>
                </div>
        </div>
        <div class="con">
            <img src="img/core/flask.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">Flask</div>
                </div>
        </div>
        <div class="con">
            <img src="img/core/dj.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">Django</div>
                </div>
        </div>
        <div class="con">
            <img src="img/skills/HTML/react.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">React</div>
                </div>
        </div>
        <div class="con">
            <img src="img/core/net.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">ASP.NET Core</div>
                </div>
        </div>
        <div class="con">
            <img src="img/core/cor.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">MS Entity Core</div>
                </div>
        </div>
        <div class="con">
            <img src="img/core/sq.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">MySQL</div>
                </div>
        </div>
        

    </div>
</div>

<div class="card">
    <div class="card-header bg-light "><h3>Version Control and Deployment</h3></div>
    <div class="card-body">
        <div class="con">
            <img src="img/skills/Java/git.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">Git</div>
                </div>
        </div>
        
        <div class="con">
            <img src="img/skills/Java/hub.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">GitHub</div>
                </div>
        </div>
        <div class="con">
            <img src="img/skills/Java/aws.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">AWS</div>
                </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header bg-light "><h3>Graphics Software</h3></div>
    <div class="card-body">
        <div class="con">
            <img src="img/soft/pro.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">Adobe Premiere pro</div>
                </div>
        </div>
        
        <div class="con">
            <img src="img/soft/ai.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">Adobe Illustrator</div>
                </div>
        </div>
        <div class="con">
            <img src="img/soft/ps.jpg" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">Adobe Photoshop</div>
                </div>
        </div>
        <div class="con">
            <img src="img/soft/lr.png" alt="" width="100px" height="auto" class="image"> 
                <div class="overlay">
                    <div class="text">Adobe Lightroom</div>
                </div>
        </div>
    </div>
</div>